
.navbar {
    background: white;
    padding: .5rem 2rem;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-brand {
    max-height: 50px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav-logo {
    max-height: 50px;
}

.nav-brand:hover {
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 1rem;
    align-items: center;
}