<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MWCEE8FEXB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MWCEE8FEXB');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
    <link rel="stylesheet" href="/static/css/loginStyles.css">
</head>
<body>
    <div class="login-container">
        <div class="login-header">
            <h1>404 - Page Not Found</h1>
            <p>The page you're looking for doesn't exist.</p>
        </div>
        <div class="login-link">
            <a href="/">Return to Home</a>
        </div>
    </div>
</body>
</html>